{{#if error_messages}}
  <div class=" mx-auto mt-3 alert alert-danger alert-dismissible fade show" role="alert" style="width: 340px;">
    {{ error_messages }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
{{#if success_messages}}
  <div class=" mx-auto mt-3 alert alert-success alert-dismissible fade show" role="alert" style="width: 340px;">
    {{ success_messages }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
