<div class="container-fluid mt-5">
    <div class="mx-auto" style="border:3px solid tomato;" id="create_panel">
        <form action="/basketball/record" method="POST" class="p-3">
          {{>form}}
        </form>
    </div>
</div>