<div class="container-fluid mt-5">
  <div class="mx-auto" style="border:3px solid tomato;  " id="create_panel">
    <h4 class="text-center my-3">輸入單場比賽數據</h4>
    <div style="overflow:auto; height:450px;">
      <form action="/basketball/record" method="POST" class="p-3">
        {{>form}}
      </form>
    </div>
  </div>
</div>