<div class="container-fluid mt-5">
    <div class="mx-auto" style="width:700px;height:500px;border:3px solid tomato;">
        <form action="/basketball/record/{{record.id}}?_method=PUT" method="POST" class="p-3">
            {{>form}}
        </form>
    </div>
</div>