<div class="container-fluid mt-5">
    <div class="mx-auto" style="width:400px;height:400px; outline: tomato solid 3px;">
        <form action="/login" method="POST" class="p-3">
            <h1 class="text-center">Login</h1>
            {{> messages}}
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" id="email"
                    placeholder="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password"
                    placeholder="password" name="password">
            </div>
            <button class="btn btn-primary" type="submit">login</button>
        </form>
        <p class="lead ms-3">No Account? <a href="/register">Register</a></p>
    </div>
</div>