<div class="container-fluid mt-5">
    <div class="mx-auto" style="border:3px solid tomato;" id="profile_panel">
        <form action="/basketball/user?_method=PUT" method="POST" class="p-3" enctype="multipart/form-data">
            <h4 class="text-center my-3">編輯球員資料</h4>
            {{> messages}}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name"
                    placeholder="name" name="name" value="{{user.name}}" required>
            </div>
           <div class="mb-3">
                    <label for="position" class="form-label">位置</label>
                    <select class="form-select" aria-label="Default select example" name="position" required>
                        <option value="後衛" selected>後衛</option>
                        <option value="前鋒">前鋒</option>
                        <option value="中鋒">中鋒</option>
                    </select>
            </div>
            <div class="mb-3">
                    <label for="image" class="form-label">球員照片 (參考尺寸250x300)</label>
                    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary ">send</button>
            </div>
        </form>
    </div>
</div>