<div class="container-fluid mt-3">
    <div class="mx-auto" style="width:800px;height:600px; border:solid 3px tomato;">
        <h3 class="text-center my-2">數據排行榜(大學組)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Efg%</th>
                    <th scope="col">Ts%</th>
                    <th scope="col">Usg%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><h5>1</h5></th>
                    <td>robert</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <th scope="row"><h5>2</h5></th>
                    <td>robert</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <th scope="row"><h5>3</h5></th>
                    <td>robert</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td>25%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>