<div class="container-fluid mt-3">
    <div class="mx-auto" style="width:1000px;height:600px; border:solid 3px tomato;">
        <h3 class="text-center my-2">數據排行榜(PLG)</h3>
        <table class="table table-hover">
            <h6 class="ms-2 my-3">* Efg(有效命中率) Ts(真實命中率) Tov(失誤率)</h6>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">team</th>
                    <th scope="col">name</th>
                    <th scope="col">games</th>     
                    <th scope="col">Efg%</th>
                    <th scope="col">Ts%</th>
                    <th scope="col">Tov%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="font-size:20px;">1</th>
                    <td>新北國王</td>
                    <td>robert</td>
                    <td>10</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size:20px;">2</th>
                    <td>新北國王</td>
                    <td>robert</td>
                    <td>10</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size:20px;">3</th>
                    <td>新北國王</td>
                    <td>robert</td>
                    <td>10</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td>25%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>