<div class="container-fluid mt-3">
    <div class="mx-auto" style="width:500px;height:400px; border:solid 3px tomato;">
        <h3 class="text-center my-2">球員生涯比賽數據</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">date</th>
                <th scope="col">Efg%</th>
                <th scope="col">Ts%</th>
                <th scope="col">Tov%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">2022-07-07</th>
                <td>25%</td>
                <td>25%</td>
                <td>25%</td>
                <td class="d-flex justify-content-evenly">
                    <a class="btn btn-primary btn-sm">edit</a>
                    <a class="btn btn-primary btn-sm">delete</a>
                </td>
                </tr>
                <tr>
                <th scope="row">2022-07-07</th>
                <td>25%</td>
                <td>25%</td>
                <td>25%</td>
                <td class="d-flex justify-content-evenly">
                    <a class="btn btn-primary btn-sm">edit</a>
                    <a class="btn btn-primary btn-sm">delete</a>
                </td>
                </tr>
                <tr>
                <th scope="row">2022-07-07</th>
                <td>25%</td>
                <td>25%</td>
                <td>25%</td>
                <td class="d-flex justify-content-evenly">
                    <a class="btn btn-primary btn-sm">edit</a>
                    <a class="btn btn-primary btn-sm">delete</a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>