  #container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #record_panel{
      width:350px;
  }
  #rank_panel{
      width:350px;
  }
  #profile_panel{
    width:300px;height:400px;
  }
  #user_panel{
      width: 250px;
      height: 380px;
      overflow-y: scroll;
      margin: 2rem 0;
  }
  #register_panel{
      width: 320px;
  }
  #login_panel{
      width:300px;
      height:400px;
  }
  #create_panel{
      width:300px;
  }
  #edit_panel{
      width: 300px;
  }
  #button_panel{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  #left_side{
    width:250px;
  }
  #img{
    width:250px;
    height:300px;
  }
  .row{
    display: block;
  }
  /* register class='row' */
  #other_img{
    width:100px;
    height:120px;
  }
  #other_users{
    width:150px;
    height: 400px;
    overflow-y: scroll;
  }
  #top_player{
    width:260px;
    height:580px;
    overflow-y: scroll;
  }
  @media screen and (min-width:480px) {#container{display: flex; flex-direction: row; justify-content: space-evenly;}}
  @media screen and (min-width:480px) {#record_panel{width:800px;}} 
  @media screen and (min-width:480px) {#rank_panel{width:1200px;}}
  @media screen and (min-width:480px) {#profile_panel{width:500px;height:500px;}}
  @media screen and (min-width:480px) {#login_panel{width:400px;height:400px;}}
  @media screen and (min-width:480px) {#register_panel{width:700px;}}
  @media screen and (min-width:480px) {#user_panel{width:500px; height:400px;display: flex; flex-direction: row;}}
  @media screen and (min-width:480px) {#create_panel{width:700px; height:500px;}}
  @media screen and (min-width:480px) {#edit_panel{width:700px; height:500px;}}  
  @media screen and (min-width:480px) {.row{display:flex;}}
  @media screen and (min-width:480px) {#team_type{display:none;}}
  @media screen and (min-width:480px) {#basketball_logo{display:none;}}
  @media screen and (min-width:480px) {#button_panel{display:flex;justify-content: space-around; flex-direction: row;}}
  @media screen and (min-width:480px) {#img{width:250px; height:300px;}}
  @media screen and (min-width:480px) {#follow_button{display: none}}
  @media screen and (min-width:480px) {#top_player{ width:760px;}}
  @media screen and (max-width:480px) {#button_edit{margin-bottom:10px;}}
  @media screen and (max-width:480px) {#rank_table{width:580px;}}
  @media screen and (max-width:480px) {#record_table{width:670px;}} 
  @media screen and (max-width:480px) {#p{margin-left:20px;}}
  @media screen and (max-width:480px) {#follow{display: none;}}
  @media screen and (max-width:480px) {#date{font-size: 0.5rem;}}
  
   