  #container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #record_panel{
      width:350px;
  }
  #rank_panel{
      width:350px;
  }
  #profile_panel{
    width:300px;height:400px;
  }
  #user_panel{
      width: 250px;
      height: 370px;
      overflow: auto;
  }
  #register_panel{
      width: 320px;
  }
  #register_form{
    height:450px;
  }
  #login_panel{
      width:300px;
      height:400px;
  }
  #create_panel{
      width:300px;
  }
  #edit_panel{
      width: 300px;
  }
  #button_panel{
    display:flex;
    justify-content: space-around; 
    flex-direction: row;
  }
  #left_side{
    width:250px;
  }
  #img{
    width:250px;
    height:300px;
  }
  .row{
    display: block;
  }
  /* register class='row' */
  #other_img{
    width:100px;
    height:120px;
  }
  #other_users{
    width:150px;
    height: 465px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  #top_player{
    width:260px;
    height:490px;
    overflow-y: auto;
    display:flex ;
    flex-direction: column;
    align-items: center;
  }
  #search_bar{
    display: flex;
  }
  #record_table {
    overflow: auto;
    width:100%;
    max-height:500px;
  }
  #rank_table {
    overflow: auto;
    width:100%;
    max-height:400px;
  }
  table {
    table-layout: fixed;
    width:1165px;
  }
  td, th{
    border-right:1px solid gray;
    width:100px;
    height:50px;
  }
  thead tr th {
    position: sticky;
    top: 0;
  }
  th:first-child, td:first-child {
    position: sticky;
    left:0;
    z-index: 1;
    background-color: lightblue;
  }
  th:first-child{

    z-index:2;
   
   background-color: rgb(255, 221, 210);
   
   }
  @media screen and (min-width:480px) {#container{display: flex; flex-direction: row; justify-content: space-evenly;}}
  @media screen and (min-width:480px) {#record_panel{width:1165px;}}
  @media screen and (min-width:480px) {#record_table{max-height:480px;}} 
  @media screen and (min-width:480px) {#rank_panel{width:1200px;}}
  @media screen and (min-width:480px) {#profile_panel{width:500px;height:500px;}}
  @media screen and (min-width:480px) {#login_panel{width:400px;height:400px;}}
  @media screen and (min-width:480px) {#register_panel{width:700px;}}
  @media screen and (min-width:480px) {#register_form{height:375px;}}
  @media screen and (min-width:480px) {#user_panel{width:500px; height:400px;display: flex; flex-direction: row;}}
  @media screen and (min-width:480px) {#create_panel{width:700px; height:500px;}}
  @media screen and (min-width:480px) {#edit_panel{width:700px; height:500px;}}  
  @media screen and (min-width:480px) {.row{display:flex;}}
  @media screen and (min-width:480px) {#team_type{display:none;}}
  @media screen and (min-width:480px) {#basketball_logo{display:none;}}
  @media screen and (min-width:480px) {#button_panel{display:flex;justify-content: space-around; flex-direction: row;}}
  @media screen and (min-width:480px) {#img{width:250px; height:300px;}}
  @media screen and (min-width:480px) {#follow_button{display: none}}
  @media screen and (min-width:480px) {#top_player{ width:850px; height: 520px; display:flex; flex-direction: row ; flex-wrap: wrap; overflow-y: auto; justify-content: center;}}
  @media screen and (min-width:480px) {#hint{ display:none;}}
  @media screen and (max-width:480px) {#p{margin-left:20px;}}
  @media screen and (max-width:480px) {#follow{display: none;}}
  @media screen and (max-width:480px) {#date{font-size: 14px;}}
  
   